[Unit]
Description=HMAC/JWT generator microservice

[Service]
Type=simple
WorkingDirectory=%h/exocortex-halo/hmac_a_tron/
ExecStart=%h/exocortex-halo/hmac_a_tron/hmac_a_tron.py
Restart=always

[Install]
WantedBy=default.target

