[Unit]
Description=Exocortex Kodi bot with conversational interface
Wants=xmpp_bridge.service

[Service]
Type=simple
WorkingDirectory=%h/exocortex-halo/kodi_bot/
ExecStart=%h/exocortex-halo/kodi_bot/run.sh
Restart=always

[Install]
WantedBy=default.target

