# Top level configuration for System Bot.
[DEFAULT]

# URL of the message queue to poll.
queue = http://localhost:8003/

# Name the bot should answer to.
bot_name = MemorableNameOfThisBot

# Set the default loglevel of the bot.
loglevel = info

# How often to poll the message queue for orders.  Defaults to 10 seconds.
# polling_time = 10

# Connection information for the Kodi instance to communicate with.
kodi_host = localhost
kodi_port = 8080
kodi_user = kodi
kodi_password = kodi

# A list of directories containing Kodi's media library.
media_dirs = /path/to/dir1,/path/to/dir2,/path/to/dir3

# A list of subdirectories to exclude from the media library.
#exclude_dirs = junk,backups

# Path to a directory of corpora - text files which the bot will use to figure
# out what the user is asking.
corpora_dir = corpora/

# Minimum confidence to consider good.  Anything less than this and the bot
# will warn you that it's not quite sure.  Defaults to 25 out of a possible
# 100.
minimum_confidence = 25

# A list of the different command categories the bot can parse.  Each string
# corresponds to a command parser inside the bot on a 1:1 basis, so while the
# contents can (and probably should) differ the names must remain the same.
command_types = commands_back,commands_forward,commands_play,commands_pause,commands_shuffle,commands_stop,help_audio,help_basic,help_commands,help_video,search_requests_albums,search_requests_artists,search_requests_genres,search_requests_songs,search_requests_videos

# Number of points to step the volume up or down by.
volume_step = 10
