[Unit]
Description=Exocortex file copy bot
After=xmpp_bridge.service
Wants=xmpp_bridge.service

[Service]
Type=simple
WorkingDirectory=%h/exocortex-halo/copy_bot/
ExecStart=%h/exocortex-halo/copy_bot/run.sh
Restart=always

[Install]
WantedBy=default.target

