[Unit]
Description=Exocortex file downloading bot
Wants=xmpp_bridge.service

[Service]
Type=simple
WorkingDirectory=%h/exocortex-halo/download_bot/
ExecStart=%h/exocortex-halo/download_bot/run.sh
Restart=always

[Install]
WantedBy=default.target

