# Top level configuration for the entire bot.
[DEFAULT]

# URL of the message queue to poll for search requests.
queue = http://localhost:8003/

# Name I should answer to.
bot_name = Waldo

# Set the default loglevel of the bot.
loglevel = info

# How often to poll the message queue for orders.  Defaults to 60 seconds.
# polling_time = 60

[search engines]
engine1 = post,http://localhost:8090/Crawler_p.html?crawlingMode=url&crawlingDepth=0&range=domain&indexText=on&crawlingURL=
engine2 = get,http://www.gigablast.com/addurl?c=main&urls=
engine3 = get,https://web.archive.org/save/+
engine4 = get,http://www.webcitation.org/archive?url=

