# Top level configuration for the entire bot.
[DEFAULT]

# URL of the message queue to poll for search requests.
queue = http://localhost:8003/

# Name I should answer to.
bot_name = Waldo

# Set the default loglevel of the bot.
loglevel = info

# How often to poll the message queue for orders.  Defaults to 60 seconds.
# polling_time = 60

# Format:
# URL encode? (yes/no), HTTP method, URL to send link to
[search engines]
engine1 = no,post,http://localhost:8090/Crawler_p.html?crawlingMode=url&crawlingDepth=0&range=domain&indexText=on&crawlingURL=
engine2 = no,get,http://www.gigablast.com/addurl?c=main&urls=
engine3 = no,get,https://web.archive.org/save/
engine4 = no,get,http://www.webcitation.org/archive?url=
engine5 = yes,get,https://archive.fo/?run=1&url=

# Optional user-defined text that will be displayed to the user as part of the
# online help text.  It is recommended that you describe what you use this
# bot for, particularly if you have multiple instances running simultaneously.
# user_text = This is some user-specific text.

# Optional user-defined text that will be displayed to the user to acknowledge
# that commands have been received and are being executed.
# user_acknowledged = Custom telling you I'm doing something text.
