
[DEFAULT]

# The hostname or IP address the REST API server will listen for bot
# connections on.  Without this, the server won't start up.
hostname = 127.0.0.1
port = 8003

# The owner field is set up this way because group chat nicks are used instead
# of JIDs by XMPP.  Rather than do a lot of query juggling, we can do it IRC
# style and move on to doing interesting things.  Note that the /resource part
# is not specified here because XMPP implicitly allows the same account to be
# logged in from multiple locations.
owner = user@host

# The username and password to connect to the XMPP server as.  All responses
# will go out as this user, but individual agents will put their own names
# into the messages.
username = botname@host
password = password

# Possible loglevels: CRITICAL, ERROR, WARNING, INFO, DEBUG, NOTSET
loglevel = DEBUG

# Names of Huginn agents to set up message queues for.
agents = foo,bar,baz

