# Top level configuration for the entire bot.
[DEFAULT]

# URL of the message queue to poll for search requests.
queue = http://localhost:8003/

# Name I should answer to.
bot_name = Waldo

# Set the default log level of the bot.
# Valid log levels: critical, error, warning, info, debug, notset.
loglevel = info

# How often to poll the message queue for orders.  Defaults to 30 seconds.
# polling_time = 30

# URL to a Shaarli instance.
shaarli_url = https://shaarli.example.com/

# API key for the Shaarli instance (Tools -> Configure your Shaarli ->
#   API secret)
api_secret = lovesexsecretgod

# Optional user-defined text that will be displayed to the user as part of the
# online help text.  It is recommended that you describe what you use this
# bot for, particularly if you have multiple instances running simultaneously.
# user_text = This is some user-specific text.
