# Top level configuration used by the entire bot.
[DEFAULT]

# URL to a Searx instance to contact.
searx = http://localhost:8888/?format=json&q=

# URL of the message queue to poll for search requests.
queue = http://localhost:8003/

# Name I should answer to.
bot_name = Waldo

# Default e-mail address to send search results to.
default_email = me@example.com

# Set the default loglevel of the bot.
loglevel = info

# How often to poll the message queue for orders.  Defaults to 60 seconds.
# polling_time = 60

# The SMTP server to e-mail search requests through, when commanded.  This
# defaults to 'localhost'.
# smtp_server = localhost

# The e-mail address that search results will be sent from.  This is not
# optional.
origin_email_address = the-bots-name

# Optional user-defined text that will be displayed to the user as part of the
# online help text.  It is recommended that you describe what you use this
# bot for, particularly if you have multiple instances running simultaneously.
# user_text = This is some user-specific text.

# Optional user-defined text that will be displayed to the user to acknowledge
# that commands have been received and are being executed.
# user_acknowledged = Custom telling you I'm doing something text.
