[Unit]
Description=Exocortex SIP client
Wants=xmpp_bridge.service

[Service]
Type=simple
WorkingDirectory=%h/exocortex-halo/exocortex_sip_client/
ExecStart=%h/exocortex-halo/exocortex_sip_client/exocortex_web_to_speech.py
Restart=on-failure

[Install]
WantedBy=default.target

