# Top level configuration for the entire bot.
[DEFAULT]

# URL of the message queue to poll for search requests.
queue = http://localhost:8003/

# Name I should answer to.
bot_name = TemperatureSensor

# Set the default loglevel of the bot.
loglevel = info

# How often to poll the message queue for orders.  Defaults to 30 seconds.
# polling_time = 30

# Fahrenheit, Celsius, Centigrade, Kelvin?
# Defaults to Fahrenheit.
scale = fahrenheit

# The location the sensor is located at.
location = office

# URL to a webhook to POST measurements to.
# webhook = https://www.example.com/path/to/webhook

# HTTP basic auth credentials for the webhook (if appropriate).
# webhook_username = alice
# webhook_password = bob

# If an API key in a header is needed, specify the name of the header and key
# below.  This is optional (and a work in progress).
# If an API key is required but goes into the URL, just put it into the URL above.
# header_api_key = "header : key"
