# Top level configuration for the entire bot.
[DEFAULT]

# URL of the message queue to poll for search requests.
queue = http://localhost:8003/

# Name I should answer to.
bot_name = TemperatureSensor

# Set the default loglevel of the bot.
loglevel = info

# How often to poll the message queue for orders.  Defaults to 30 seconds.
# polling_time = 30

# Fahrenheit, Celsius, Kelvin?
# Defaults to Fahrenheit.
scale = fahrenheit

# The location the sensor is located at.
location = office

